
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    background-color: hsl(0, 0%, 70%);
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 80%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 95%);
    color: black;
    height: 50px;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 59%, 18%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 100%);
    color: black;
}


.btcl{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-clear{
    width: 250px;
    height: 80px;
    margin: 20px;
    margin-top: 0px;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.operator-clear{
    background-color: hsl(224, 96%, 47%);
}
.operator-clear:hover{
    background-color: hsl(0, 0%, 100%);
    color: black;
}


.operator-btn{
    background-color: hsl(224, 96%, 47%);
}
.operator-btn:hover{
    background-color: hsl(0, 0%, 100%);
    color: black;
}
